<!-- logged in page -->

{% extends "base0.html" %}
</center>
  <div class="top-bar">
    {% block username %} 
      <span class="user">{{ g.user['username'] }}</span> 
    {% endblock %}
      
    {% block openbutton %}
      <div id="mySidepanel" class="sidepanel">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

          <a href="{{ url_for('personal.my_account') }}"><i class='fa fa-user'></i> My Account</a>
          <a href="{{url_for('tracking.track')}}"><i class="fas fa-chart-bar"></i> Tracker</a>
          <a href="https://virajprateek.github.io/"  target="_blank">
            <i class="fab fa-buromobelexperte"></i> Other Projects</a>
          <a href="whatsapp://send?text=https://virajprateek.pythonanywhere.com/ 
          Thrift is a household finance management webapp!" 
          data-action="share/whatsapp/share"><i class='fab fa-whatsapp'></i> Share</a>
          <a href="{{ url_for('auth.logout') }}"><i class='fa fa-sign-out'></i> Log Out</a>
      </div>
      <button class="openbtn" onclick="openNav()">☰</button>
  {% endblock %}
</div>
  <!-- {% block appname %}{%endblock%} -->
<span class="app-name" style="top:0px; left:30px;"><a href="/">Thrift</a></span>

  {% block view_data_form %}
  <!-- <div class="view-data-form"> -->
  <form method="GET" action="{{ url_for('features.display_data')}}">
    <select name='service' onchange="this.form.submit()">
      <option selected disabled option>What to see?</option>
      <option value="balance-enquiry">Available Balance</option>
      <option value="exp">Expenditures</option>
      <option value="income">Incomes</option>
      <option value="current-requests"> Current Requests</option>
      <option value="insights">Insights</option>
      <option value ="user-list"> Users List</option>
  </select>
  </form>
  <!-- </div> -->
  {% endblock %}
  {% block personal_page %} {% endblock%}
<center>
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

</center>

</body>

<footer>Made with &#10084;&#65039;, by Prateek</footer>