<!doctype html>
<title>{% block title %}{% endblock %} -Thrift</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>

    {% if g.user %}
  <div class="top-bar">
      <span class="user">{{ g.user['username'] }}</span>
      
      <div id="mySidepanel" class="sidepanel">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <a class="action" href="{{ url_for('features.income') }}">Add Income</a>
          <a class="action" href="{{ url_for('features.expenditure') }}">Add Expenditure</a>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
      </div>
      <button class="openbtn" onclick="openNav()">☰</button> 
      <span class="app-name"><a href="/">Thrift</a></span>
  </div>

  <form class="view-data-form" method="POST" action="{{ url_for('features.view')}}">
    <select name='service' onchange="this.form.submit()">
      <option selected disabled option>What to see?</option>
      <option value="balance-enquiry">Enquire Balance</option>
      <option value="last-exp">Last Expenditure</option>
      <option value="all-exp">All expenditures</option>
      <option value="all-income">All Incomes</option>
      <option value="last-income"> Last Income</option>
  </select>
</form>

{% else %}
<div class="front-page">
  <span class="front-page-name">  &#10084;&#65039; Thrift</span>
  <span class="links">
      <a href="{{ url_for('auth.register') }}">Register</a><br/> Or<br/>
      <a href="{{ url_for('auth.login') }}">Log In</a>
  </span>
</div>
  {% endif %}
  
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
<center>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</center>
</section>
<footer>Made with &#10084;&#65039;, by Prateek</footer>