{% extends 'base.html' %}

{% block header %}
  <!--<h1>{% block title %}Welcome{% endblock %}</h1>-->
{% endblock %}

{% block content %}

  <div class="row">
  <div class="column">
    <a href="{{ url_for('features.raise_request') }}">
     <div class="card">
      <h3>Raise Request</h3>
      <p>(Order nahi, Request)</p>
    </div>
	</a>
  </div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('features.expenditure') }}">
     <div class="card">
      <h3>Add Expenditure</h3>
      <p>(&Pi; - &Pi; ka hisab)</p>
    </div>
	</a>
  </div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('features.income') }}">
     <div class="card">
      <h3>Add Income</h3>
      <p>(Paisa nikal, samjha kya?)</p>
    </div>
	</a>
  </div>


{% endblock%}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Thrift</title>-->
<!--	<meta charset="utf-8">-->
<!--  	<meta name="viewport" content="width=device-width">-->

<!--	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--	<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>-->
<!--</head>-->
<!--<body>-->
<!--	 <center><h1 style="margin-top:-20vh;">Thrift</h1>-->
<!--      <a href="#">Register(disabled)</a><br/> Or<br/>-->
      <!--replace this with # above to activate registration
<!--      {{ url_for('auth.register') }}-->
<!--      -->-->
<!--      <a href="{{ url_for('auth.login') }}">Log In</a>-->
<!--</center>-->

<!--</body>-->
<!--</html>-->