{% extends 'base.html' %}

{% block header %}
  <!--<h1>{% block title %}Welcome{% endblock %}</h1>-->
{% endblock %}

{% block content %}
"Your mission, should you choose to accept it,<br/>
is to choose one of these.."
  <div class="row">
  <div class="column">
    <a href="{{ url_for('features.raise_request') }}">
     <div class="card">
      <i class='fas fa-list'></i>
      <h3>Raise Request</h3>
      <p>(Order nahi, Request)</p>
    </div>
	</a>
  </div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('features.expenditure') }}">
     <div class="card">
      <i class='fas fa-shopping-cart'></i>
      <h3>Add Expenditure</h3>
      <p>(&Pi; - &Pi; ka hisab)</p>
    </div>
	</a>
  </div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('features.income') }}">
     <div class="card">
      <i class='fas fa-piggy-bank'></i>
      <h3>Add Income</h3>
      <p>(Paisa nikal, samjha kya?)</p>
    </div>
	</a>
  </div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('features.lpg_update') }}">
     <div class="card">
      <i class='fas fa-burn'></i>
      <h3>LPG Cylinder</h3>
      <p>(Gas.. Gas.. Gas..)</p>
    </div>
  </a>
  </div>

{% endblock%}
