<!-- logged out homepage i.e. landing page -->
{% extends 'base0.html' %}

{% block openbutton %}
  <img class="openbtn" src="{{ url_for('static', filename='favicon48x48.png') }}" 
  width="60px" style="padding: 0px;">
{% endblock %}	
{% block content %}
<center>
	<!-- <h1 style="margin-top:-20vh">Thrift</h1> -->
      <a href="{{ url_for('auth.register') }}">Register</a><br/> Or<br/>
      <a href="{{ url_for('auth.login') }}">Log In</a>
      <hr>
      <a href="{{url_for('tracking.track')}}">Tracker</a>
</center>

{% endblock %}