{% include 'base0.html' %}

{% block header %}
  <h2>{% block title %}Log in{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form class="login-form" method="post">
    <input type="text" name="username" id="username" placeholder="Username" autofocus required><br />
    <input type="password" name="password" id="password" placeholder="Password" required><br />
    <input type="submit" value="Log In">
  </form>
  Or
  <a href="{{ url_for('auth.register') }}">Register</a>
{% endblock %}