{% extends 'base0.html' %}

{% block header %}
  <h2>{% block title %}Register  {% endblock %}</h2>
{% endblock %}

{% block openbutton %}
  <img class="openbtn" src="{{ url_for('static', filename='favicon48x48.png') }}" 
  width="60px" style="padding: 0px;">
{% endblock %}
{% block content %}
 <!--<div class="error"> Registration is disabled right now</div>-->

  <form class="register-form" method="post">
    <input type="text" name="username" id="username" placeholder="Username" autofocus required><br/>
    <input type="password" name="password" id="password" placeholder="Password" required><br/>
    <input type="password" name="cpassword" id="cpassword" placeholder="Re-enter Password" required><br/>
    <input type="submit" value="Register">
 </form>

  Or
  <a href="{{ url_for('auth.login') }}">Login</a>
{% endblock %}
