{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ tableFor }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="result" style="overflow-x: auto; overflow-y: auto;">
  {% if tableFor == 'Balance Enquiry' %}
    Available balance: Rs. <span class="balance">{{bal}}</span>/-

  {% else %}
  <table>
    
    {% if tableFor == 'All Income' or tableFor== 'Last Income' %}
    <thead>
      <th>ID</th>
      <th>Added On</th>
      <th>Source</th>
      <th>Amount</th>
      <th>Received by</th>
      <th>Inserted by</th>
      <th>Remarks</th>
    </thead>
  {% endif %}
  {% if tableFor == 'All Expenditure' or tableFor== 'Last Expenditure' %}
    <thead>
      <th>ID</th>
      <th>Date</th>
      <th>Category</th>
      <th>Items</th>
      <th>Amount</th>
      <th>Spent by</th>
      <th>Inserted by</th>
    </thead>
    {% endif %}

  {% if tableFor == 'Users List' %}
    <thead>
      <th>ID</th>
      <th>Username</th>
    </thead>
  {% endif %}

    {% for item in data %}
  <tr>
      {% for i in range(item|length) %}
        <td>{{item[i]}}</td>
      {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif%}
</div>
{% endblock %}