{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{ tableFor }}{% endblock %}</h2>
{% endblock %}

{% block content %}
<!-- =========================BALANCE ENQUIRY BEGIN======================= -->
<div class="result" style="overflow-x: auto; overflow-y: auto;">
  {% if tableFor == 'Balance Enquiry' %}
    Total vailable balance: Rs. <span class="balance">{{ data }}</span>/- 
    <br/> <br/>
    <table>
      <caption>Breakdown</caption>
      <thead>
        <th>Type</th>
        <th>Amount</th>
      </thead>
      <tr>
        <td>{{ data2 }}</td>
        <td>{{ data3 }}</td>
      </tr>
      <tr>
        <td>General</td>
        <td>{{ data|float - data3|float}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ data }}</td>
      </tr>
    </table>
<!-- ========================BALANCE ENQUIRY END========================== -->

<!-- =========================CURRENT REQUESTS BEGIN=======================-->
 {% elif tableFor == 'Current Requests' or tableFor == '' %}
    {% if (data|length == 0) %}
        No requests today!<br/>
        Ask to raise a request.

    {% else %}
    (tap on item name)
        {% for item in data %}
        <form method='post' id ='{{ item[0] }}' action="{{ url_for('features.manage_request') }}">
          <br />
          <button class="accordion request_card">
            <span style="font-size:20px;">{{item[1]}}</span> 
            <input type="submit" value = "x" name="manage_request_btn" 
              onclick = "document.getElementById('iAmount').value='1'; submit();">
            <br/> 
            <span style="font-size:12px;"></span>{{item[2]}}</span>
            <span class="requested_by">{{item[4]}}|{{item[5]}}</span>
        </button>
        <div class="panel">
          <input type = 'hidden' name ='item_id' id = 'item_id' value='{{item[0]}}'>
          <input type="hidden" name="category" value="{{item[3]}}">
          <input type="hidden" name="item_name" value="{{item[1]}}">
          <input type="hidden" name="date" id='txtDate' 
             value="{{ item[5].split(' ')[0] }}" placeholder="Date" required> <br />

          <input type="number" name="iAmount" id="iAmount" placeholder="Amount" min="1" required><br/>
          <input type = 'submit' value = 'Done' name="manage_request_btn"> <br /> 
        </div>
      </form>
      {% endfor %}         
      <script>
        var acc = document.getElementsByClassName("accordion");
        var i; 
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
      </script>
    {% endif %}
  {% else %}
  <table>
<!-- =========================CURRENT REQUESTS END=======================-->

<!-- =========================INCOME HEADER BEGIN=======================-->
    {% if tableFor == 'Incomes' %}
     *Recent 30 transactions
    <thead>
      <th>ID</th>
      <th>Added On</th>
      <th>Source</th>
      <th>Amount</th>
      <th>Received by</th>
      <th>Inserted by</th>
      <th>Remarks</th>
    </thead>
  {% endif %}
<!--============================INCOME HEADER============================-->

<!-- ==========================EXPENDITURE HEADER BEGIN================== -->

  {% if tableFor == 'Expenditures' %}
    *Recent 30 transactions
    <thead>
      <th>ID</th>
      <th>Date</th>
      <th>Category</th>
      <th>Items</th>
      <th>Amount</th>
      <th>Spent by</th>
      <th>Inserted by</th>
    </thead>
    {% endif %}
<!-- ========================EXPENDITURE HEADER END======================= -->
<!-- ========================USER LIST HEADER BEGIN======================= -->
  {% if tableFor == 'Users List' %}
    <thead>
      <th>ID</th>
      <th>Username</th>
    </thead>
  {% endif %}
<!-- =======================USER LIST HEADER END========================== -->

<!-- =======================INSIGHTS HEADERS BEGIN========================= -->
<!-- ================INSIGHTS #1 BEGIN ========= -->
 {% if tableFor == 'Insights' %}
    <thead>
      <caption>Who receives the money?(Income)</caption>
      <th>Received By</th>
      <th>Times Received</th>
      <th>Total Amount Received</th>
    </thead>
     {% for item in data2 %}
  <tr>
      {% for i in range(item|length) %}
        <td>{{item[i]}}</td>
      {% endfor %}
  </tr>
  {% endfor %}
  </table>
<div id="pie-who-receives-the-money">
  <!-- first chart here -->
</div>
<!-- ===============INSIGHTS #1 END=========== -->
<!-- ===============INSIGHTS #2 BEGIN========= -->
  <table>
  <thead>
      <caption>Where is money spent?</caption>
      <th>Category</th>
      <th>Times Spent</th>
      <th>Total Amount Spent</th>
    </thead>
     {% for item in data3 %}
  <tr>
      {% for i in range(item|length) %}
        <td>{{item[i]}}</td>
      {% endfor %}
  </tr>
  {% endfor %}
  </table>

<div id="pie-where-is-money-spent">
  <!-- second chart here -->
</div>
<!-- ===============INSIGHTS #2 END=========== -->
<!-- ===============INSIGHTS #3 BEGIN========= -->
  <table>
    <thead>
      <caption>Who spends the most?</caption>
      <tr>
      <th>Spent By</th>
      <th>Times Spent</th>
      <th>Total Amount Spent</th>
      </tr>
    </thead><tbody>
  {% endif %}
<!-- ===============INSIGHTS #3 END=========== -->

<!-- =================================TABLES BODY BEGIN====================== -->
    {% for item in data %}
  <tr>
      {% for i in range(item|length) %}
        <td>{{item[i]}}</td>
      {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
<!-- =================================TABLES BODY END====================== -->

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart(chart1) and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
      ['Category', 'Amount Spent'],
    {%  for i in range(data2|length) %}
            ['{{ data2[i][0] }}', {{ data2[i][2] }} ],
    {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Who receives the money?(amount)', 'width':360, 'height':240,
  backgroundColor: 'transparent', is3D: true};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('pie-who-receives-the-money'));
  chart.draw(data, options);

//second chart
  var data = google.visualization.arrayToDataTable([
      ['Category', 'Amount Spent'],
    {%  for i in range(data3|length) %}
            ['{{ data3[i][0] }}', {{ data3[i][2] }} ],
    {% endfor %}
]);

  var options = {'title':'Where is money spent?(amount)', 'width':360, 'height':240,
  backgroundColor: 'transparent', is3D: true};

  var chart = new google.visualization.PieChart(document.getElementById('pie-where-is-money-spent'));
  chart.draw(data, options);
}
</script>


{% endblock %}



















