{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Add Expenditure{% endblock %}</h2>
{% endblock %}

{% block content %}
<hr>
  <form class="add-expenditure" method="post">
  <div>
    <input type="date" name="date" id='txtDate' value="{{ request.form['date'] }}" placeholder="Date" required>
  </div>
  <div>
     <select name="name" id="name" required>
    	<option hidden>Who spent?</option>
    	<option value="Prashant">Prashant</option>
    	<option value="Pragya">Pragya</option>
    	<option value="Harsh">Harsh</option>
    	<option value="Yash">Yash</option>
    	<option value="Nidhi">Nidhi</option>
    	<option value="Prateek">Prateek</option>
    </select>
</div>
<div>
   <select name="category" id="category" required>
   		<option hidden>Category</option>
   		<option value="Kitchen">Kitchen/Edibles</option>
   		<option value="Toiletry">Toiletry</option>
   		<option value="Stationery">Stationery</option>
   		<option value="Fixed Payments">Fixed Payments</option>
   		<option value="Miscellaneous">Miscellaneous</option>
   </select>
</div>

<div>
   <div class="input_fields_wrap">
  </div>
  <input type="button" class="add_field_button" value="Add Item">
</div>

<div>
 	<input type="hidden" name="totalAmount" value='0' id="totalAmount">
	Total Amount:
  	<input type="number" value='0' id="totalAmountDisplay" readonly>/- Rupees
  	<input type="hidden" name="itemList" id="itemList">
</div>
    <input type="submit" value="Save">
  </form>
{% endblock %}