{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %} Add Income{% endblock %}</h2>
{% endblock %}

{% block content %}
<form class="add-income" method="post"> 
  <div>
  <input type="date" name="date" id='txtDate' 
    value="{{ request.form['date'] }}" placeholder="Date" required>
</div>
<div class="name">
  <select name="name" id="name" required> 
    	<option value="" hidden>Who received?</option>
      {% for item in users %}
         <option value="{{ item[1] }}">{{ item[1] }}</option>
      {% endfor %}
    </select>
  </div>
<div>
   <select name="source" id="source" required>
   		<option value="" hidden>Source</option>
   		<option value="ATM">ATM</option>
   		<option value="Cash">In-hand Cash</option>
   		<option value="Online">Online</option>
   </select>
</div>
<div>
   <input type="number" name="amount" placeholder="Amount" required min="1">   
</div>
<div> 
  <input type="textbox" name="remarks"
  placeholder="Remarks if any..(e.g. Who gave, which atm?)">
</div>
    <input type="submit" value="Save">
  </form>
{% endblock %}