{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Income{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="add-income" method="post">
<hr>  
  <input type="date" name="date" id='txtDate' 
    value="{{ request.form['date'] }}" placeholder="Date" required>
<hr>
  <select name="name" id="name" required> 
    	<option hidden>Who received?</option>
    	<option value="Prashant">Prashant</option>
    	<option value="Pragya">Pragya</option>
    	<option value="Harsh">Harsh</option>
    	<option value="Yash">Yash</option>
    	<option value="Nidhi">Nidhi</option>
    	<option value="Prateek">Prateek</option>
    </select>
  <hr> 
   <select name="source" id="source" required>
   		<option hidden>Source</option>
   		<option value="ATM">ATM</option>
   		<option value="Cash">In-hand Cash</option>
   		<option value="Online">Online</option>
   </select>
<hr>
   <input type="number" name="amount" placeholder="Amount" required>   
<hr> 
  <input type="textbox" name="remarks" 
  placeholder="Remarks if any..(e.g. Who gave, which atm?)">
<hr>
    <input type="submit" value="Save">
  </form>
{% endblock %}