{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %} Raise Request{% endblock %}</h2>
{% endblock %}

{% block content %}
<form class="raise-request" method="post">
<div>
   <input type="text" name="item_name" placeholder="Item Name" required>

    <select name="category" id="category" required>
      <option value="" hidden>Category</option>
      <option value="Kitchen">Kitchen/Edibles</option>
      <option value="Toiletry">Toiletry</option>
      <option value="Stationery">Stationery</option>
      <option value="Miscellaneous">Miscellaneous</option>
      <option value="Neha-D Sponsored"> Neha-D Sponsored</option>
   </select>
</div>

<div>
  <input type="textbox" name="remarks"
  placeholder="(If any) specific instructions">
</div>
    <input type="submit" value="Request Item">
  </form>
{% endblock %}